.container {
  margin-left: 14%;
  padding-top: 70px;
  max-width: 900px;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
}

.semana-container {
  margin-bottom: 40px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 20px;
}

.semana-titulo {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 20px;
  text-align: left;
  border-left: 6px solid #007bff;
  padding-left: 10px;
}

.aulas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start; /* começa da esquerda */
}

.aula-botao {
  background-color: #fff;
  border: 2px solid #007bff;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  width: 160px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  text-align: center;
}

.aula-botao:hover {
  background-color: #f2f2f2;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-remover {
  width: 90%;
  margin: 12px auto 0 auto;
  padding: 8px 0;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: block;
  text-align: center;
}

.btn-remover:hover {
  background-color: #d32f2f; /* vermelho forte */
  color: white;
  border-color: #b71c1c;
  transform: scale(1.04);
}

.aula-antiga {
  background-color: #f8d7da; /* Cor de fundo vermelha clara */
  color: #721c24; /* Cor do texto (vermelho mais escuro) */
  border: 1px solid #f5c6cb; /* Borda de cor vermelha */
}

/* Estilos do modal */
.modalii {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalii-conteudo {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btnii-fechar {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.comentariosii-container {
  margin-top: 20px;
}

.comentarioii {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.comentarioii p {
  margin: 5px 0;
}

.aula-botao .btnii-avaliar {
  background-color: #fdf90a8c;
  color: rgb(0, 0, 0);
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.aula-botao .btnii-avaliar:hover {
  background-color: #f8fc1f;
}