.top-bar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: #333;
    color: white;
    padding: 0 20px;
  }
  
  .top-bar h1 {
    position: absolute;
    left: 57%;  /* 50% + 7% = metade da sidebar (14%) */
    transform: translateX(-50%);
    font-weight: bold;
    margin: 0;
    color: white;
  }
  
  .user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.7rem;
    padding: 17px;
  }
  
  .logout-btn {
    background: #f00;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: px;
    font-size: 1.7rem;
  }

  .profile-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}
  
