.sidebar {
  width: 14%;
  display: block;
  float: left;
  position: fixed;
  top: 0;
  height: 100%;
  background: #eeeeee;
  border-right: 1px solid #808080;
}

.nav-links {
  display: block; /* Links ocupam apenas o espaço necessário */
  margin-left: 50px;
  margin-top: 70px; /* se precisares de afastar dos itens do header */
  font-size: 22px;
}

.sidebar nav a {
  display: inline-block; /* Links ocupam apenas o espaço necessário */
  text-decoration: underline;
  color: black;
  font-weight: bold;
  margin-bottom: 15px; /* Aumentado o espaço entre os links (ajustável conforme necessário) */
}

.sidebar nav a.active {
  position: relative;
  color: black;
  text-decoration: none;
}

.sidebar nav a.active::before {
  content: "➜";
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: #007bff;
}
