.sidebar {
  width: 14%;
  display: block;
  float: left;
  position: fixed;
  top: 0;
  height: 100%;
  background: #f7f7f7;
  border-right: 1px solid #dae3e9;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 70px; /* se precisares de afastar dos itens do header */
  gap: 15px;
}

.sidebar nav a {
  display: inline-block; /* para que apenas o texto seja clicável */
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.sidebar nav a.active {
  position: relative;
  color: black;
  text-decoration: none;
}

.sidebar nav a.active::before {
  content: "➜";
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #007bff;
}
